.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.logo{
    width: 70px;
    height: 70px;
}

.nav-items{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-items li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    padding: 5px;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
}

.search {
    padding: 10px;
}

.res-logo{
    width: 100%;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.cuisines-list{
    word-wrap: break-word;
}

.filter-btn{
    cursor: pointer;
    margin: 5px;
    padding: 4px;
}

.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.login-btn{
    background-color: #f0f0f0;
    padding: 8px 20px;
    cursor: pointer;
    border: none;
}